@model MyLunchBox.Models.ChangePasswordModel
@{
    ViewBag.Title = "ChangeMyPassword";
}

<div class="row">
    <div class="span3 well" style="padding:20px 0;">
    <ul class="nav nav-list">
	    <li class="nav-header">My Account</li>
	    <li>@Html.ActionLink("Account Settings", "MembershipDetails", "Member")</li>
        <li class="active">@Html.ActionLink("Change Password", "ChangeMyPassword", "Member")</li>
	    <li>@Html.ActionLink("Orders", "MyLunchBoxes", "Member")</li>
	    <li>@Html.ActionLink("Reward Points", "MyRewards", "Member")</li>
	    <li>@Html.ActionLink("Voting", "MyVotes", "Member")</li>
    </ul>
    </div>
    <div class="span9">
    
    <div class="lightBox form-horizontal">
    @if (!string.IsNullOrEmpty((string)ViewData["UpdateStatus"]))
    {
        <ul class="alert alert-block alert-success" ><li>@ViewBag.UpdateStatus</li></ul>
    }
    <h3>Change My Password</h3>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
    <div class="lightBox">
        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(m => m.OldPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>
            
            <div class="editor-label">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <div class="form-actions">
                <input type="submit" value="Change Password" class="btn" />
            </div>
        </fieldset>
    </div>
}
</div>
</div>