@model IEnumerable<MyLunchBox.Models.Order>
           
@{
    ViewBag.Title = "MyOrders";
    Layout = "~/Views/Shared/_MobileMemberMaster.cshtml";
}


<div data-role="content">
            <div data-role="navbar">
	            <ul>
		            <li><a href="javascript:void(0)" data-dateFrom='@DateTime.Now.Date.ToShortDateString()' class="getOrders ui-btn-active">Today's Orders</a></li>
		            <li><a href="javascript:void(0)" data-dateFrom='@DateTime.Now.Date.AddDays(-30).ToShortDateString()' data-dateTo='@DateTime.Now.Date.AddDays(1).ToShortDateString()' class="getOrders" > Previous Orders </a></li>
	            </ul>
            </div><!-- /navbar -->
            @if (Model.Count() == 0)
        {
            <div class="lightButton inside"> <h3>You haven't order anything yet</h3>
            <p> @Html.ActionLink("Create One Now", "SelectUniversity", "mobile",new {@data_ajax="false"})</p></div>
        }
        else
        {
            foreach (var order in Model)
            {
                
                <div data-role="collapsible" data-collapsed="false" data-theme="d" data-content-theme="d">
                   <h3>
                   <table>
                   <tr><th>Order# :</th><td><em><big>@order.OrderId</big></em></td></tr>
                   <tr><th>Order Received At :</th><td>@order.OrderReceivedAt.ToString("MMM dd, yyyy hh:mm")</td></tr>
                   
                       @if (!string.IsNullOrEmpty(@order.TxnId))
                       {
                           <tr><th>Credit Card Paid：</th><td><em>$@(order.Gross - order.Savings)</em></td></tr>
                       }
                       else if (order.Gross > order.Savings)
                       {
                            <tr><th>Cash ：</th><td><em>$@(order.Gross - order.Savings)</em></td></tr>
                       }
                        @if (@order.Savings > 0)
                        {
                            <tr><th>Points Paid :</th><td><em>$@order.Savings</em></td></tr>
                        }
                    
                    </table>
                        </h3>
                        <p class="cart-boxType"> 
                            @order.ShortDescription
                        </p>
                        <ul class="cart-dishList">
                            @foreach (var orderItem in order.OrderItems)
                            {
                                <li>
                                 <span class="orderItems-desc">@orderItem.Item.ItemDescription</span>  
                                 <span class="cart-dishCount">@orderItem.Quantity</span>
                                </li>
                            }
                        </ul>
                        

                        @if (order.NeedDeliveryInfo != null)
                        {
                        <table class="table">
                        <tr>
                        <tr>
                        <th>Name:</th>
                        <td>
                            @order.ReceiverFirstName <text></text> @order.ReceiverLastName
                        </td>
                        </tr>
                        
                        <th>Phone:</th>
                        <td>@order.ReceiverPhoneNumber</td>
                        </tr>
                        <tr>
                        <th>Delivery Location:</th>
                        <td>
                            @order.DeliveryLocation.BusinessName 
                            @if (order.DeliveryLocation.University_Delivery.Count > 0)
                            {
                                @order.DeliveryLocation.University_Delivery.First().DeliveryTime.ToString("hh:mm tt")
                            }
        
                          </td>
                          </tr>
                         </table>
                        }
                        
                        
                </div>
            }
        }
</div>
@Html.Partial("_MobileFooterPartial")
<script>
    $(document).bind('pageinit',function(){
        $('a.getOrders').click(
            function () {
                window.location = '/Mobile/MyOrders?datefrom=' + $(this).attr('data-dateFrom');
            }
        );
    });
</script>
