@model MyLunchBox.Models.RegisterModel
           
@{
    ViewBag.Title = "Registor";
    Layout = "~/Views/Shared/_MobileMaster.cshtml";
}

<div data-role="content">
<h2>Registor</h2>
@using (Html.BeginForm()) {
    if ( Html.ValidationSummary(true) != null)
    {
        <ul id="warningMsg" class="alert alert-block alert-error" style="">
         <li>@Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")</li>        
        </ul>
    }
	    <div class="control-group">
            <label>Email</label>
            <div class="controls">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
    <div class="control-group">
			<div class="control-label">
            <label>Last Name</label>
            </div>
            <div class="controls">
            @Html.TextBoxFor(m => m.FirstName)
            @Html.ValidationMessageFor(m => m.FirstName)
            </div>
    </div>
    <div class="control-group">
            <div class="control-label">
            <label>Last Name</label>
            </div>
            <div class="controls">
            @Html.TextBoxFor(m => m.LastName)
            @Html.ValidationMessageFor(m => m.LastName)
            </div>
    </div>
    <div class="control-group">
            <div class="control-label">
            <label>University</label>
            </div>
            <div class="controls">
            @Html.DropDownListFor(m => m.UniversityId, Model.Universities)
            </div>
    </div>
    <div class="control-group">
            <div class="control-label">
            <label>Delivery Location</label>
            </div>
            <div class="controls">
            
            @Html.DropDownListFor(m => m.UniversityDeliveryId, Model.UniversityDeliveries)
            </div>
    </div>
    <div class="control-group">
            <label>Password</label>
            <div class="controls">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
    </div>
    <div class="control-group">
            <label>Confirm Password</label>
            <div class="controls">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
    </div>
    <hr />
    <div class="control-group">
    		<p>
            For your protection, these questions will help us verify your identity in the future.
            </p>
            <label> Password Question </label>
            <div class="controls">
                @Html.DropDownListFor(m=>m.PasswordQuestion, Model.PasswordQuestions)
                @Html.ValidationMessageFor(m => m.PasswordQuestion)
            </div>
    </div>
    <div class="control-group">
            <label> Password Answer </label>
            <div class="controls">
                @Html.TextBoxFor(m => m.PasswordAnswer)
                @Html.ValidationMessageFor(m => m.PasswordAnswer)
            </div>
    </div>
           <div class="form-actions">
                <input type="submit" value="Register" class="btn btn-primary" /> 
                 <span style="display:inline-block;padding-left:10px">@Html.ActionLink("Already have an account? Log In", "Index")</span>
                
            </div>
           
}
</div>
<script>
    $(function () {
        $("#UniversityId").change(function () {
            $.get("/Account/GetDeliveryLocations", { "universityId": $(this).val() }, function (data) {
                $("#UniversityDeliveryId").html(data)
            });
        });
    });
</script>