@model MyLunchBox.Models.MyLocationViewModel

@{
    ViewBag.Title = "Select University";
    Layout = "~/Views/Shared/_MobileMemberMaster.cshtml";
}

<div data-role="content">
@using (Html.BeginForm("ChooseRestaurant", "Mobile", FormMethod.Get, new { id = "chooseRestaurant" }))
{
    <label for="universityId" class="select">Your University:</label>
    @Html.DropDownList("universityId", @Model.Universities)
    <label for="universityDeliveryId" class="select">Your Delivery Location:</label>
    @Html.DropDownList("universityDeliveryId", @Model.Locations)
    <input type="submit" value="Next" data-role="button" data-ajax="false" data-theme="b" data-icon="arrow-r" data-iconpos = "right"/>
}
</div>
@Html.Partial("_MobileMemberFooterPartial")

<script >
    $(function () {
        $("#universityId").change(function () {
            $.mobile.showPageLoadingMsg()
            $.get("/Mobile/GetDeliveryLocations", { "universityId": $(this).val() }, function (data) {
                $("#universityDeliveryId").parents(".ui-select").find("select").html(data).selectmenu('refresh');
                $.mobile.hidePageLoadingMsg()
            });
        })
    });
</script>